.about-us{
  max-width:710px;
  margin:auto;
}

.about-us #header img{
  border-radius: 7%;
  max-width:100%;
  }

.founders-message {
  text-align:center;
}


.about-gosukkah{
  width:80%;
  text-align:center;
  margin:auto;
}

.our-team {
  width:80%;
  margin:auto;
}

.our-team h2{
  text-align:center;
  margin-top:7%
}

.our-team img{
  width:120px;
  height:120px;
  border-radius:50%;
}

.member {
  margin: 0 0 0 7%;
  display: inline;
  float: left;
}

.member img{
padding-left:10%
}
.member .name {
  display: block;
  text-align:center
}

.member .title{
  text-align:center;
  margin-top:-15px  
}
/*
.bio_pics {
  
  
}
*/

.our-team-text{
  padding-top:10px;
  clear:both;
  text-align: center;
  font-size:1.5em
 
}
/*
.p1 {
   width:33%;
   text-align: center;
   margin:0 auto 0 auto;
   font-weight: 500;
   clear: both; 
}
*/

.our-products-and-services h2{
  text-align:center;
}
.our-products-and-services #buttons {
  clear: both;
  width: 100%;
  
}
.our-products-and-services #buttons ul {
  list-style-type: none;
  border:1px;
  border-color:black;
}
.our-products-and-services #buttons ul li {
  display: inline;
/*  float: left;*/
  width: 15%;
  margin: .5em;
/*  position: relative;*/
  left:32%;
  background-color: lightblue;
  border:1px;
  border-color:black;
    
 
}
li.background {
  background-color: blue;
}

div#buttons ul li a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: block;
  padding: .5em;
  text-align: center;
}
div#final_content {
  width: 100%;
}
div#final_content img { 
  border-radius: 30%;
  position: relative;
  left: 11em;
  margin-left: .5em;
}
div#bottom {
  clear:both;
  width: 100%;
}
div#bottom ul {
  list-style-type: none;
}
div#bottom ul li {
  display: inline;
  position: relative;
  left: 22em;
  width:3em;
  padding: 1em;
  background-color: lightblue;
  border-radius: 20%;
}

div#bottom ul li a{
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  padding: 2em;
  color:white;
  text-decoration: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
div#header {
    top: 0;
    margin: 0 25% 0 25%;
  }
div#header img {
  top: 0;
  text-align: center;
  float: left;
  border-radius: 20%;
}
.people {
  clear: both;
  font-size: .5em;
  text-align: center;
}
.heading {
  text-align: center;
  font-size: 1em;
}
.p1 {
  width: 50%;
  text-align: center;
  margin: 0 auto 0 auto;
  font-weight: 500;
  clear: both;
  font-size: 1.25em;
}
div.member {
  margin: 0 0 0 4em;
  display: inline;
  float: left;
}
div#team {
  width: 75%;
  margin: 0 15% 0 15%;
}
.bio_pics {
  border-radius: 100px;
}
.subheading {
  display: block;
  padding-left: 10%;
}
div#buttons ul {
  list-style-type: none;
  /* display: inline; */
  }
  div#buttons ul li {
  display: inline;
  float: left;
  width: 25%;
  padding: 1.5em;
  position: relative;
  left: 15%;
  margin: 1em;
}
li.button {
  background-color: white;
}
div#final_content {
  width: 100%;
}
div#final_content img {
  border-radius: 30%;
  position: relative;
  left: 15%;
  margin-left: .5em;
}
div#bottom {
  clear: both;
  width: 100%;
}
div#bottom ul {
  list-style-type: none;
}
div#bottom ul li {
  display: inline;
  position: relative;
  left: 27%;
  width: 2em;
  padding-top: 1.5em;
  background-color: lightblue;
  border-radius: 0;
}
div#bottom ul li a {
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  padding: 1em;
  color: white;
  text-decoration: none;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  div.member {
  margin: 0 0 0 5em;
  display: inline;
  float: left;
}

div#final_content {
  width: 100%;
}
div#final_content img {
  border-radius: 30%;
  position: relative;
  left: 11em;
  margin-left: .5em;
}
div#bottom {
  clear: both;
  width: 100%;
}
div#bottom ul {
  list-style-type: none;
}
div#bottom ul li {
  display: inline;
  position: relative;
  left: 22em;
  width: 3em;
  padding: 1em;
  background-color: lightblue;
  border-radius: 20%;
}
  }